# 依赖包
node_modules/

# 环境变量密钥（数据库账号、密钥绝对不能上传！！电商很重要）
.env
.env.local

# 构建产物
dist/
build/

# IDE缓存
.vscode/
.idea/

# 日志
*.log

# 系统文件
.DS_Store
Thumbs.db

# SQLite数据库文件
*.db
*.db-journal

# TypeScript编译缓存
*.tsbuildinfo

# 本地图片（不需要上传测试图片）
*.png
*.jpg
*.jpeg
*.gif